html, body { margin: 0; padding: 0; height: 100%; }

#container { border-left: 1px solid #ddd; border-right: 1px solid #ddd; }

a#logo { padding-top: 10px; padding-bottom: 0; }
a#logo img { height: 30px; border: none; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

table.table { margin-bottom: 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-collapse: separate; }

table.table-bordered { border-color: #aaa; }

table.table-bordered tr th { border-bottom: 1px solid #aaa; }
table.table-bordered tbody tr:last-child td, table.table-bordered tfoot tr:last-child td { border-bottom: #aaa; }

table tr td.no-data { text-align: center; font-size: 18px; font-style: italic; }

table tr td.image a { border: none; }
table tr td.image img { width: 120px; border: 1px solid #888; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; }
table tr td.image a img:hover { border: 1px solid #555; }

table.table-sortable thead tr th.sortable { position: relative; min-width: 42px; cursor: pointer; }
table.table-sortable thead tr th.sortable:hover { background-color: #efefef; }
table.table-sortable thead tr th.sortable span.sort-icon { position: absolute; top: 25%; right: 4px; color: #bbb; }

table.table-sortable thead tr th.sortable:hover span.sort-icon,
table.table-sortable thead tr th.sort-asc span.sort-icon,
table.table-sortable thead tr th.sort-desc span.sort-icon { color: #666; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th { background-color: #eee; }

table tr td.actions { border-left: 1px solid #999 !important; text-align: center; line-height: 100%; }

table tr td.actions a { margin-right: 6px; color: #555; font-size: 18px; }
table tr td.actions a:hover { color: #428bca; }

table tr td.actions a.orange { color: #c60; }
table tr td.actions a.orange:hover { color: #d50; }

table tr td.actions a.red { color: #900; }
table tr td.actions a.red:hover { color: #c00; }

table tr.danger:hover td.actions, table tr.danger td.actions { border-left: 1px solid #999; }

table tr td.id-attribute { border-right: 1px solid #999 !important; font-weight: bold; text-align: right; }

table.table-bordered tr td:hover { background-color: #e6e6e6; }

table tr td.small-text { font-size: 11px; }

table tr td span.boolean-true { color: #030; }
table tr td span.boolean-false { color: #500; }

.table tr.danger td { background-color: #f2dede !important; }

.alert-top {
	z-index: 1000;
	position: absolute;
	top: 60px;
	right: 22px;
	min-width: 600px;
	border-color: #aaa;
	box-shadow: #ccc 1px 2px 5px;
}
.alert-top.alert-success { z-index: 1001; }

.alert-transparent { opacity: 0.95; filter: alpha(opacity=95); }

div.checkbox-set, div.radio-set {
	padding: 0 8px;
	border: 1px solid #aaa;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
div.checkbox-set.has-error, div.radio-set.has-error { border-color: #b94a48; }
div.checkbox-set label, div.radio-set label { display: inline-block; min-width: 280px; }
div.checkbox-set label:hover, div.radio-set label:hover { font-weight: bold; }
div.checkbox-set.has-error label, div.radio-set.has-error label { color: #000; }

form div.error { padding: 5px; color: #b94a48; }

input.file-dummy { float: left; margin-right: 5px; width: 60%; cursor: pointer; }
input.file-dummy[readonly="readonly"] { background-color: #fff; cursor: pointer; }

div.passwords-check span { padding-top: 26px; font-size: 28px; }

.form-group.checkbox { margin: 0; }

.checkbox label input[type="checkbox"] { float: none; }

fieldset {
	margin: 10px 0;
	padding: 8px;
	border: 1px solid #999;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}

fieldset legend {
	display: inline;
	margin: 0;
	width: auto;
	background-color: none;
	color: #555;
	border: none;
	font-size: 12px;
	line-height: 1em;
}

.red { color: #900; }
.green { color: #060; }

.black-bg { background-color: #000; }

.bold { font-weight: bold; }

#container { margin: 0 auto -128px; position: relative; min-height: 100%; height: auto !important; }
#container:after {
	display: block;
	content: "";
}

#footer {
	clear: both;
	margin: 56px auto 0;
	padding: 0;
	background-color: #222;
	color: #999;
	text-align: right;
	line-height: 1em;
	border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;
}

#container:after, #footer { height: 72px; }
#container:after { height: 100px; }

#footer div.pad { padding: 24px 24px 0 24px; }

@media (min-width: 768px) {
	#footer { width: 720px; }
}

@media (min-width: 992px) {
	#footer { width: 940px; }
}

@media (min-width: 1200px) {
	#footer { width: 1140px; }
}

#footer a { color: #ccc; }
#footer a:hover { color: #fff; }
#footer p.fractal { color: #555; font-size: 11px; }
#footer p.fractal a { z-index: 500; position: relative; color: #999; }
#footer p.fractal a:hover { color: #d00; }

.search-pagination-area { margin: 8px 0; }
.pagination { margin: 0; }

input#search {
	width: 200px;
	color: #555;
	border-color: #999;
	border-radius: 8px 8px 8px 0; -webkit-border-radius: 8px 8px 8px 0; -moz-border-radius: 8px 8px 8px 0;
}

textarea {
	min-height: 120px;
}

textarea.field-content-markdown {
	min-height: 280px;
}

div.vertical-divider { margin-top: 12px; margin-bottom: 12px; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; }
div.vertical-divider h3 { margin-top: 5px; margin-bottom: 5px; }

div.content-side {
	padding: 12px;
	min-height: 280px;
	background-color: #222;
	color: #fff;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}

.modal-header { padding-bottom: 6px; color: #444; }
.modal-body { margin: 10px; padding: 10px; max-height: 480px; overflow-y: auto; }

.error-tooltip + .tooltip .tooltip-inner {
	background-color: #700;
}
.error-tooltip + .tooltip .tooltip-arrow {
	border-top-color: #700;
}

div#markdown-preview {
	z-index: 5000;
	display: none;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: -20px;
	width: 560px;
	height: 240px;
	overflow-y: hidden;
}
div#markdown-preview div#markdown-preview-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #888;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
div#markdown-preview div#markdown-preview-content {
	z-index: 5010;
	position: relative;
	margin: 6px;
	padding: 6px;
	height: 228px;
	overflow-y: auto;
}

ul#select-content-area {
	padding: 0;
	list-style: none;
}

ul#select-content-area li {
	margin: 0 0 10px 0;
	padding: 8px;
	background-color: #444;
	color: #fff;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

ul#select-content-area li:hover { background-color: #222; }

ul#select-content-area li.new { background-color: #428bca; }
ul#select-content-area li.new:hover { background-color: #357ebd; }

ul#select-content-area li h3 { display: block; margin: 0 0 4px 0; padding: 0; font-size: 14px; font-weight: bold; }
ul#select-content-area li div.info { float: right; color: #888; font-size: 12px; font-style: italic; }
ul#select-content-area li div.info div.actions { float: right; padding-left: 5px; }
ul#select-content-area li div.info div.actions span.glyphicon-remove { color: #900; font-size: 15px; }
ul#select-content-area li div.info div.actions span.glyphicon-remove:hover { color: #c00; }