table tr td.actions { text-align: center; line-height: 100%; }

table tr td.actions a { margin-right: 6px; color: #555; font-size: 18px; }
table tr td.actions a:hover { color: #428bca; }

table tr td.actions a.orange { color: #c60; }
table tr td.actions a.orange:hover { color: #d50; }

table tr td.actions a.red { color: #900; }
table tr td.actions a.red:hover { color: #c00; }

table tr td.no-data { text-align: center; font-size: 18px; font-style: italic; }

div.checkbox-set, div.radio-set {
	padding: 0 8px;
	border: 1px solid #aaa;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
div.checkbox-set.has-error, div.radio-set.has-error { border-color: #b94a48; }
div.checkbox-set label, div.radio-set label { display: inline-block; min-width: 280px; }
div.checkbox-set label:hover, div.radio-set label:hover { font-weight: bold; }
div.checkbox-set.has-error label, div.radio-set.has-error label { color: #000; }

form div.error { padding: 5px; color: #b94a48; }

div.passwords-check span { padding-top: 26px; font-size: 28px; }

.red { color: #900; }
.green { color: #060; }

div#footer {
	margin-top: 42px;
	padding: 24px 24px 18px 24px;
	background-color: #222;
	color: #999;
	text-align: right;
	line-height: 1em;
	border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;
}
div#footer a { color: #ccc; }
div#footer a:hover { color: #fff; }