#nav-side {
	z-index: 20;
	position: absolute;
	left: 0;
	padding-top: 46px;
	padding-right: 4px;
	width: 16%; height: 100%; min-height: 100%;
	background-color: #111;
	overflow-x: hidden;
}

#nav-side.fixed { position: fixed; }

#nav-side.collapsed { width: 8px; }

#nav-side #nav-side-toggle {
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
	background-color: #444;
	cursor: w-resize;
}

#nav-side.collapsed #nav-side-toggle { cursor: e-resize; }

#nav-side #nav-side-toggle:hover { background-color: #777; }

#nav-side ul { margin: 8px 4px; }
#nav-side ul li { margin-bottom: 4px; }
#nav-side ul li:last-child { margin-bottom: 0; }
#nav-side ul li a {
	padding: 10px;
	color: #ddd;
	line-height: 1em;
}

#nav-side ul li a>i { padding-right: 3px; color: #aaa; }
#nav-side ul li a { background-color: transparent; }
#nav-side ul li a:hover { background-color: #181818; }
#nav-side ul li a:hover>i { color: #fff; }
#nav-side ul li.open>a { background-color: #181818; }
#nav-side ul li.active>a, #nav-side ul li:active>a { background-color: #222; }
#nav-side ul li a b.caret { position: absolute; top: 16px; right : 5px; color: #555; }
#nav-side ul li ul {
	display: none;
	margin: 0 0 12px 0;
	padding: 4px 0 4px 12px;
	border-top: 1px solid #1c1c1c;
	border-bottom: 1px solid #1c1c1c;
	list-style: none;
	font-size: smaller;
}
#nav-side ul li ul li a { display: block; padding: 6px 0 6px 10px; }
#nav-side ul li ul li a:hover { text-decoration: none; }

#nav-side ul li.open ul { display: block; }

#nav-side.collapsed ul { display: none; }

#container-content.sidebar-offset { margin-left: 16%; }
#container-content .container-pad { padding: 72px 28px 28px 20px; }
#container-content .container-pad-vertical { padding: 18px 0; }
#container-content .container-pad-fluid { padding: 18px 14px 0 14px; }

@media (min-width: 768px) {
	#nav-side { width: 22%; }
	#container-content.sidebar-offset { margin-left: 22%; }
	#top-buttons { left: 22%; }
	#footer a.return-to-top { margin-left: 22%; }
}

@media (min-width: 992px) {
	#nav-side { width: 16%; }
	#container-content.sidebar-offset { margin-left: 16%; }
	#top-buttons { left: 16%; }
	#footer a.return-to-top { margin-left: 16%; }
}

@media (min-width: 1200px) {
	#nav-side { width: 12%; }
	#container-content.sidebar-offset { margin-left: 12%; }
	#top-buttons { left: 12%; }
	#footer a.return-to-top { margin-left: 12%; }
}

@media (max-width: 768px) {
	#nav-side ul li span.menu-item-label { display: none; }
	#top-buttons { display: none; }
	#footer a.return-to-top { margin-left: 4%; }
}

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

h1 {
	margin-bottom: 12px;
	padding-bottom: 4px;
	border-bottom: 1px solid #e5e5e5;
	font-family: "Dosis", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

h2, h3 {
	font-family: "Dosis", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

hr { clear: both; border-top: 1px solid #aaa; }

table.table { margin-bottom: 10px; border-collapse: separate; }

table.table-bordered { border-color: #aaa; }

table.table-bordered tr th { border-bottom: 1px solid #aaa; }
table.table-bordered tbody tr:last-child td, table.table-bordered tfoot tr:last-child td { border-bottom: #aaa; }

table tr td.no-data { text-align: center; font-size: 18px; font-style: italic; }

table tr td.image a { border: none; }
table tr td.image img { width: 120px; border: 1px solid #888; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; }
table tr td.image a img:hover { border: 1px solid #555; }

table tr td.icon { width: 36px; font-size: 18px; }

table.table-sortable thead tr th.sortable { position: relative; min-width: 42px; cursor: pointer; }
table.table-sortable thead tr th.sortable:hover { background-color: #efefef; }
table.table-sortable thead tr th.sortable span.sort-icon { position: absolute; top: 25%; right: 4px; color: #bbb; }

table.table-sortable thead tr th.sortable:hover span.sort-icon,
table.table-sortable thead tr th.sort-asc span.sort-icon,
table.table-sortable thead tr th.sort-desc span.sort-icon { color: #666; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th { background-color: #eee; }

table tr td.actions { width: 130px; border-left: 1px solid #999 !important; text-align: right; line-height: 100%; }
table tr td.actions a.btn { padding: 2px 5px; font-size: 12px; text-shadow: #333 1px 1px 1px; }
table tr td.actions a.btn-default { background: #333; color: #fff; border-color: #000; }
table tr td.actions a.btn-default:hover { background: #222; }

table tr.danger:hover td.actions, table tr.danger td.actions { border-left: 1px solid #999; }

table tr td.id-attribute { width: 54px; border-right: 1px solid #999 !important; font-weight: bold; text-align: right; }

table.table-bordered tr td:hover { background-color: #e6e6e6; }

table tr td.small-text { font-size: 11px; }

table tr td span.boolean-true { color: #050; }
table tr td span.boolean-false { color: #500; }

.table tr.danger td { background-color: #f2dede !important; }

#footer {
	clear: both;
	margin: 56px auto 0;
	padding: 0;
	background-color: #222;
	color: #999;
	text-align: right;
	line-height: 1em;
	border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;
}

#container:after, #footer { height: 72px; }
#container:after { height: 100px; }

#footer div.pad { padding: 24px 24px 0 24px; }

#footer ul.menu { position: relative; z-index: 30; list-style: none; text-align: left; }
#footer ul.menu li { display: inline-block; margin: 0 12px 0 0; }

#footer p { float: right; }

#footer a.return-to-top {
	z-index: 100;
	position: relative;
	display: inline-block;
	line-height: 1em;
}

@media (min-width: 768px) {
	#footer { width: 720px; }
}

@media (min-width: 992px) {
	#footer { width: 940px; }
}

@media (min-width: 1200px) {
	#footer { width: 100%; }
}

#footer a { color: #ccc; }
#footer a:hover { color: #fff; }
#footer p.fractal { clear: right; color: #555; font-size: 11px; }
#footer p.fractal a { z-index: 500; position: relative; color: #999; }
#footer p.fractal a:hover { color: #d00; }

.search-pagination-area { margin: 8px 0; }
.pagination { margin: 0; }

.form-control:focus {
	box-shadow: none;
	border: 1px solid #428bca;
}

input#field-search {
	float: right;
	margin-top: 7px;
	margin-right: 16px;
	width: 164px;
	color: #555;
	border: none;
	border-radius: 8px 0 0 8px;
}

textarea {
	min-height: 120px;
}

textarea.field-content-markdown, textarea.field-description-markdown {
	min-height: 280px;
}

div.vertical-divider { margin-top: 12px; margin-bottom: 12px; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; }
div.vertical-divider h3 { margin-top: 5px; margin-bottom: 5px; }

.modal-header { padding-bottom: 6px; color: #444; }
.modal-body { margin: 10px; padding: 10px; max-height: 480px; overflow-y: auto; }

.error-tooltip + .tooltip .tooltip-inner {
	background-color: #700;
}
.error-tooltip + .tooltip .tooltip-arrow {
	border-top-color: #700;
}

div#markdown-preview {
	z-index: 5000;
	display: none;
	visibility: hidden;
	position: fixed;
	top: 36px;
	right: 15%;
	margin-left: -25%;
	width: 50%;
	height: 240px;
	overflow-y: hidden;
}

@media (min-width: 992px) {
	div#markdown-preview { visibility: visible; }
}

@media (min-width: 1200px) {
	div#markdown-preview { visibility: hidden; }
}

div#markdown-preview div#markdown-preview-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #888;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	opacity: 0.85;
	filter: alpha(opacity=85);
}

div#markdown-preview div#markdown-preview-content {
	z-index: 5010;
	position: relative;
	margin: 6px;
	padding: 6px;
	height: 228px;
	overflow-y: auto;
}

div.col-markdown-preview-content {
	display: none;
}

@media (min-width: 1200px) {
	div.col-markdown-preview-content { display: block; }
}

div.markdown-preview-content {
	margin-bottom: 12px;
	padding: 6px 12px;
	min-height: 280px;
	max-height: 420px;
	border: 1px solid #ccc;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
	overflow-y: auto;
}

div#markdown-preview-content img, div.markdown-preview-content img { max-width: 100%; max-height: 240px; }

ul#select-content-area {
	padding: 0;
	list-style: none;
}

ul#select-content-area li {
	margin: 0 0 10px 0;
	padding: 8px;
	background-color: #444;
	color: #fff;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

ul#select-content-area li:hover { background-color: #222; }

ul#select-content-area li.new { background-color: #428bca; }
ul#select-content-area li.new:hover { background-color: #357ebd; }

ul#select-content-area li h3 { display: block; margin: 0 0 4px 0; padding: 0; font-size: 14px; font-weight: bold; }
ul#select-content-area li div.info { float: right; color: #888; font-size: 12px; font-style: italic; }
ul#select-content-area li div.info div.actions { float: right; padding-left: 5px; }
ul#select-content-area li div.info div.actions span.glyphicon-remove { color: #900; font-size: 15px; }
ul#select-content-area li div.info div.actions span.glyphicon-remove:hover { color: #c00; }

ul.image-list { margin-top: 12px; padding-left: 0; list-style: none; }
ul.image-list li { float: left; position: relative; margin: 0 6px 6px 0; padding: 3px; border: 1px solid #aaa; cursor: pointer; }
ul.image-list li img { width: 90px; height: 90px; border: none; opacity: 0.9; }
ul.image-list li .remove {
	z-index: 10;
	display: none;
	position: absolute;
	top: 4px; right: 4px;
	color: #900;
	font-size: 16px;
	opacity: 0.8;
}
ul.image-list li:hover .remove { display: block; }
ul.image-list li .remove:hover { opacity: 1; }
ul.image-list li:hover, ul.select-thumbnail-image li.selected { border-color: #2b669a; }
ul.image-list li:hover img, ul.select-thumbnail-image li.selected img { opacity: 1; }

ul.image-list-large li img { width: 120px; height: 120px; }

ul.image-list h4 { position: absolute; top: 0; left: 0; padding: 4px; color: #fff; font-size: 12px; text-shadow: #000 0 0 3px; }

div.file-link { display: inline-block; margin: -6px 5px 8px 5px; }
div.file-link label { display: inline-block; }

#thumbnail-image-area img, img.thumbnail-image, a.thumbnail-image img {
	display: inline-block;
	margin-bottom: 6px;
	max-height: 90px;
	border: 1px solid #777;
}
a.thumbnail-image:hover img { border-color: #555; }

.button-menu { margin-bottom: 16px; }
.button-menu a.btn { margin-left: 6px; }

.form-group .alert { margin: 5px 0 0 0; padding: 3px 12px; }
.form-group .alert strong.highlight { color: #900; text-decoration: underline; }

.monospace { font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important; }

pre.plain { margin: 0; padding: 0; background-color: none; border: none; line-height: inherit; }

pre, .monospace { tab-size: 2; -moz-tab-size: 2; -o-tab-size: 2; }

table.markdown-guide tr td { padding: 12px 5px; vertical-align: top; border-bottom: 1px solid #ccc; }
table.markdown-guide tr td.monospace { width: 50%; font-size: 0.9em; }
table.markdown-guide tr td h1, table.markdown-guide tr td h2, table.markdown-guide tr td h3 { margin: 0; line-height: 1em; }
table.markdown-guide tr td.black { background-color: #000; color: #fff; }
table.markdown-guide tr td.black * { color: #fff !important; }
table.markdown-guide tr td img { width: 90px; }

@media (min-width: 992px) {
	.modal-dialog { width: 780px; }
}
@media (min-width: 1200px) {
	.modal-dialog { width: 1000px; }
}

.legend ul { padding-left: 0; list-style: none; }
.legend ul li { margin-right: 18px; display: inline-block; }
.legend ul li span { display: inline-block; margin-right: 5px; width: 12px; height: 12px; }

.full-screen { z-index: 2000; position: absolute; left: 0; top: 0; padding: 12px; width: 100%; height: 100%; background-color: #fff; }
.full-screen>div { height: 100%; }
.full-screen .form-group { height: 90%; }
.full-screen textarea, .full-screen .markdown-preview-content { height: 95%; max-height: 95%; }

ul#menu-items { padding-left: 0; }
ul#menu-items, ul#menu-items ul { list-style: none; }
ul#menu-items li.ui-sortable-helper fieldset { box-shadow: #777 3px 3px 12px; }
ul#menu-items li.ui-sortable-placeholder { border: 2px dashed #aaa; }
ul#menu-items li fieldset { position: relative; background-color: #efefff; box-shadow: #ccc 3px 3px 6px; cursor: move; }
ul#menu-items li fieldset:hover { border-color: #666; box-shadow: #aaa 3px 3px 6px; }
ul#menu-items li fieldset legend { font-weight: bold; }
ul#menu-items li fieldset h2 { margin-left: 12px; }
ul#menu-items li fieldset h2 i { display: inline-block; width: 36px; color: #666; }
ul#menu-items li fieldset .buttons-area { position: absolute; bottom: 8px; right: 8px; }
ul#menu-items li fieldset div.absolute { position: absolute; }

.btn-spaced-right { margin-right: 6px; }
.btn-spaced-left { margin-left: 6px; }

.dropdown-menu-field { max-height: 360px; overflow-y: auto; }
.dropdown-menu-field li i { display: inline-block; width: 24px; }